<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->


<app-game-control  (start)="listenNum($event)"></app-game-control>

<hr>

<div class="container" *ngFor='let num of countArray'>
  <app-odd *ngIf='num%2 != 0'></app-odd>
  <app-even *ngIf='num%2 == 0'></app-even>
</div>
<button (click)="fun()">toggle</button>

<p appbasicHighlight [defaultColor]="'red'" [highlightColor]="'green'" *appunless="flag">Hi I am from basic directive created by me</p>

<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchCase="1">1</p>
  <p *ngSwitchCase="1000">1000</p>
  <p *ngSwitchDefault>10</p>
</div>
